In [1]:
# Performance에 대한 분류 Baseline은 미사용 예정
# roc_auc_score 및 confusion_matrix를 감안할 때 활용의 실익이 없는 정도
# Performance에 대한 회귀 Baseline도 미사용 예정
# Test Date에 대한 R^2를 살펴볼 때 아예 의미가 없는 정도

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import precision_score, roc_auc_score, RocCurveDisplay, ConfusionMatrixDisplay

In [4]:
from data.utils import add_experience, feature_classification, astype_category

In [5]:
# DataFrame 초기 세팅
hr_df = pd.read_csv(Path.cwd() / 'data' / 'HR-Employee-Attrition.csv')
hr_df = (hr_df
         .pipe(add_experience)
         .pipe(feature_classification, return_dataframe=True)
         .pipe(astype_category)
         .set_index('EmployeeNumber')
)
hr_df = (hr_df
         .assign(Attrition=lambda df: df['Attrition'].replace({'Yes':1, 'No':0}))
         .assign(OverTime=lambda df: df['OverTime'].replace({'Yes':1, 'No':0}))
)
hr_df.columns

Index(['MonthlyIncome', 'PercentSalaryHike', 'StockOptionLevel', 'Age',
       'Gender', 'MaritalStatus', 'Education', 'EducationField',
       'DistanceFromHome', 'NumCompaniesWorked', 'TotalWorkingYears',
       'Experienced', 'Department', 'BusinessTravel', 'JobLevel', 'JobRole',
       'JobInvolvement', 'OverTime', 'WorkLifeBalance',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'EnvironmentSatisfaction', 'JobSatisfaction', 'PerformanceRating',
       'RelationshipSatisfaction', 'Attrition'],
      dtype='object')

In [6]:
# 필요 내용 category 변경 확인
hr_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1470 entries, 1 to 2068
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MonthlyIncome             1470 non-null   int64
 1   PercentSalaryHike         1470 non-null   int64
 2   StockOptionLevel          1470 non-null   int64
 3   Age                       1470 non-null   int64
 4   Gender                    1470 non-null   category
 5   MaritalStatus             1470 non-null   category
 6   Education                 1470 non-null   category
 7   EducationField            1470 non-null   category
 8   DistanceFromHome          1470 non-null   int64
 9   NumCompaniesWorked        1470 non-null   int64
 10  TotalWorkingYears         1470 non-null   int64
 11  Experienced               1470 non-null   category
 12  Department                1470 non-null   category
 13  BusinessTravel            1470 non-null   category
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   category
 16  JobInvolvement            1470 non-null   int64
 17  OverTime                  1470 non-null   category
 18  WorkLifeBalance           1470 non-null   int64
 19  TrainingTimesLastYear     1470 non-null   int64
 20  YearsAtCompany            1470 non-null   int64
 21  YearsInCurrentRole        1470 non-null   int64
 22  YearsSinceLastPromotion   1470 non-null   int64
 23  YearsWithCurrManager      1470 non-null   int64
 24  EnvironmentSatisfaction   1470 non-null   category
 25  JobSatisfaction           1470 non-null   int64
 26  PerformanceRating         1470 non-null   int64
 27  RelationshipSatisfaction  1470 non-null   int64
 28  Attrition                 1470 non-null   category
dtypes: category(11), int64(18)
memory usage: 235.9 KB

In [7]:
# categorical variables에 대한 one-hot encoding
hr_df_onehot = pd.get_dummies(hr_df, columns=['BusinessTravel', 'Department', 'Education', 'EducationField', 'EnvironmentSatisfaction',
                                              'Experienced', 'Gender', 'JobRole', 'MaritalStatus'])
hr_df_onehot

,MonthlyIncome,PercentSalaryHike,StockOptionLevel,Age,DistanceFromHome,NumCompaniesWorked,TotalWorkingYears,JobLevel,JobInvolvement,OverTime,...,JobRole_LaboratoryTechnician,JobRole_Manager,JobRole_ManufacturingDirector,JobRole_ResearchDirector,JobRole_ResearchScientist,JobRole_SalesExecutive,JobRole_SalesRepresentative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
EmployeeNumber,,,,,,,,,,,,,,,,,,,,,
1,5993,11,0,41,1,8,8,2,3,1,...,0,0,0,0,0,1,0,0,0,1
2,5130,23,1,49,8,1,10,2,2,0,...,0,0,0,0,1,0,0,0,1,0
4,2090,15,0,37,2,6,7,1,2,1,...,1,0,0,0,0,0,0,0,0,1
5,2909,11,0,33,3,1,8,1,3,1,...,0,0,0,0,1,0,0,0,1,0
7,3468,12,1,27,2,9,6,1,3,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2061,2571,17,1,36,23,4,17,2,4,0,...,1,0,0,0,0,0,0,0,1,0
2062,9991,15,1,39,6,4,9,3,2,0,...,0,0,0,0,0,0,0,0,1,0
2064,6142,20,1,27,4,1,6,2,4,1,...,0,0,1,0,0,0,0,0,1,0
2065,5390,14,0,49,2,2,17,2,2,0,...,0,0,0,0,0,1,0,0,1,0
2068,4404,12,0,34,8,2,6,2,4,0,...,1,0,0,0,0,0,0,0,1,0

In [8]:
# PerformanceRating == PercentSalaryHike
X = hr_df_onehot.drop(['Attrition', 'PerformanceRating', 'PercentSalaryHike'], axis=1)
y = hr_df_onehot['PerformanceRating']
X.shape, y.shape

((1470, 55), (1470,))

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1102, 55), (368, 55), (1102,), (368,))

In [10]:
# Performance에 대한 Baseline 파악을 위한 RandomForest 진행
rf_reg = RandomForestRegressor(n_estimators=100, max_depth=10, min_samples_leaf=5, random_state=0, n_jobs=-1).fit(X_train, y_train)

In [11]:
# Train Data 및 Test Data에 대한 R^2 확인 → Test Data의 R^2가 완전 무의미
rf_reg.score(X_train, y_train), rf_reg.score(X_test, y_test)

(0.4250984480716722, -0.031032107664450637)

In [12]:
# Performance에 대한 Baseline 파악을 위한 Ridge 진행
ridge = Ridge(alpha=10).fit(X_train, y_train)

In [13]:
# Train Data 및 Test Data에 대한 R^2 확인 → Train Data 및 Test Data의 R^2가 완전 무의미
ridge.score(X_train, y_train), ridge.score(X_test, y_test)

(0.02908777577048105, -0.03555695924225777)